<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.RestAssured.Utilities.Listeners" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="com.RestAssured.Testcases.TC_001_Get_EmployeeDetails"/>
      <class name="com.RestAssured.Testcases.TC_002_Post_name"/> 
      <class name="com.RestAssured.Testcases.TC_003_GetAllHeaders_Response"/> -->
      <class name="com.RestAssured.Testcases.TC_004_DataDriven"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
